@{

}
@model BartenderPOS.Models.DrinkOrder
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DrinkMenu</title>
    <link rel="stylesheet" href="~/lib/styles.css" />
</head>
<body>
    <h3 align="center">Full Send Alcoholic Drinks For Sale</h3>
    <nav class="TOPnavbar" align="center">
        <ul>
            <li><a asp-action="HomePage">Home</a></li>
            <li><a asp-action="DrinkMenu">Drink Menu</a></li>
            <li><a asp-action="OrderQueue">Order Queue</a></li>
        </ul>
    </nav>
    <section>
        <div id="grid" align="center">
            <form class="p-a-1" asp-action="DrinkMenu" method="post">
                <div id="D1">
                    
                    <br />
                    <a><img src="~/images/HonduranLime.jpg" rel="Limey" width="450" height="350" /></a>
                    <p>
                        Honduran Lime Delight
                        $17.99
                    </p>
                    <br />
                    <input class="form-control" asp-for="Honduran" placeholder="Quantity"/>
                    <br />
                    <input type="Submit" value="Select" class="btn btn-danger" asp-action="OrderQueue" />
                    <br />
                    
                </div>
                <div id="D2" align="center">
                    <br />
                    <a><img src="~/images/MangoShipwreck.jpg" rel="Rum" width="475" height="350" /></a>
                    <p>
                        Classic Tropical Rum
                        $10.50
                    </p>
                    <br />
                    <input class="form-control" asp-for="Rum" placeholder="Quantity"/>
                    <br />
                    <input type="Submit" value="Select" class="btn btn-danger" asp-action="OrderQueue" />
                    <br />
                </div>
                <div id="D3" align="center">
                    <br />
                    <a><img src="~/images/LocalBrews.png" rel="LocallyBrewed" width="500" height="350" /></a>
                    <p>
                        Local Best Brews
                        $12.50
                    </p>
                    <br />
                    <input class="form-control" asp-for="LocalBrew" placeholder="Quantity"/>
                    <br />
                    <input type="Submit" value="Select" class="btn btn-danger" asp-action="OrderQueue" />
                    <br />
                </div>
                <div id="D4" align="center">
                    <br />
                    <a><img src="~/images/YeOleDoublePint.jpg" rel="2Pint" width="500" height="350" /></a>
                    <p>
                        Ole german Double Fister (Double Pint)
                        $22.05
                    </p>
                    <br />
                    <input class="form-control" asp-for="Doublepint" placeholder="Quantity"/>
                    <br />
                    <input type="Submit" value="Select" class="btn btn-danger" asp-action="OrderQueue" />
                    <br />
                </div>
                <div id="D5" align="center">
                    <br />
                    <a><img src="~/images/LastOneForNight.jpg" rel="LOFTN" width="500" height="350" /></a>
                    <p>
                        last Drink For The Night
                        $25.50
                    </p>
                    <br />
                    <input class="form-control" asp-for="PitcherPour" placeholder="Quantity"/>
                    <br />
                    <input type="Submit" value="Select" class="btn btn-danger" asp-action="OrderQueue" />
                    <br />
                </div>
            </form>
        </div>
    </section>
</body>
</html>