@{

}
@model BartenderPOS.Models.DrinkOrder
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device=width" />
    <title>OrderQueue</title>
    <link rel="stylesheet" href="~/lib/styles.css" />
</head>
<body>
    <h1></h1>
    <nav class="TOPnavbar" align="center">
        <ul>
            <li><a asp-action="HomePage">Home</a></li>
            <li><a asp-action="DrinkMenu">Drink Menu</a></li>
            <li><a asp-action="OrderQueue">Order Queue</a></li>
            </ul>
        </nav>
    <p>
        test @Model.Honduran
    </p>
</body>
</html>